<?xml version="1.0"?>
<launch>
  <arg name="wheel_kind" default="default"/>   <!-- default | tractor | tractor_large -->
  <arg name="front_kind" default="swing_axle"/>       <!-- swing_axle | caster | 4wd -->
  <!-- Send the Innok Heros URDF/XACRO to param server -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find innok_heros_description)/urdf/innok_heros.xacro'
            front_kind:=$(arg front_kind) wheel_kind:=$(arg wheel_kind)" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  
  <!-- Config file for Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find innok_heros_description)/launch/innok_heros.rviz"/>

</launch>
